/raw
/DummyDatacleaner
/DummyDatacleaner_BigramMorphTagVectorizer100
/DummyDatacleaner_BigramMorphTagVectorizer370
/DummyDatacleaner_CountVectorizer1000
/DummyDatacleaner_CountVectorizer5000
/DummyDatacleaner_DPEBPVectorizer100Avg
/DummyDatacleaner_FullMorphTagVectorizer
/DummyDatacleaner_SpacyMorphTagVectorizer
/DummyDatacleaner_TfidfVectorizer1000
/DummyDatacleaner_TfidfVectorizer5000
/DummyDatacleaner_HerbertVectorizer
/DummyDatacleaner_HerbertFT
/DummyDatacleaner_RoBERTaFrozen
/DummyDatacleaner_RoBERTaFT
/DummyDatacleaner_HerbertFrozen
/DummyDatacleaner_StyloMetrix
/DummyDatacleaner_CountTfidf1000
/DummyDatacleaner_FrozenGremBERT
/DummyDatacleaner_GremBERT
/DummyDatacleaner_FrozenPanGremBERT
/DummyDatacleaner_PanGremBERT
