/raw
/DummyDatacleaner
/DummyDatacleaner_CountVectorizer1000
/DummyDatacleaner_BigramMorphTagVectorizer370
/DummyDatacleaner_BigramMorphTagVectorizer100
/DummyDatacleaner_CountVectorizer5000
/DummyDatacleaner_DPEBPVectorizer100Avg
/DummyDatacleaner_FullMorphTagVectorizer
/DummyDatacleaner_HerbertVectorizer
/DummyDatacleaner_SpacyMorphTagVectorizer
/DummyDatacleaner_TfidfVectorizer1000
/DummyDatacleaner_TfidfVectorizer5000
/DummyDatacleaner_HerbertFT
/DummyDatacleaner_RoBERTaFrozen
/DummyDatacleaner_RoBERTaFT
/DummyDatacleaner_HerbertFrozen
