/raw
/DummyDatacleaner
/DummyDatacleaner_SpacyMorphTagVectorizer
/DummyDatacleaner_CountVectorizer1000
/DummyDatacleaner_DPEBPVectorizer100Avg
/DummyDatacleaner_TfidfVectorizer1000
/DummyDatacleaner_HerbertVectorizer
/DummyDatacleaner_FullMorphTagVectorizer
/DummyDatacleaner_BigramMorphTagVectorizer100
/DummyDatacleaner_BigramMorphTagVectorizer370
/DummyDatacleaner_StyloMetrix
