/raw
/DummyDatacleaner
/ProperNamesMasker
/DummyDatacleaner_TfidfVectorizer1000
/DummyDatacleaner_TfidfVectorizer5000
/DummyDatacleaner_BigramMorphTagVectorizer100
/DummyDatacleaner_BigramMorphTagVectorizer370
/DummyDatacleaner_CountVectorizer1000
/DummyDatacleaner_CountVectorizer5000
/DummyDatacleaner_DPEBPVectorizer100Avg
/DummyDatacleaner_FullMorphTagVectorizer
/DummyDatacleaner_HerbertFT
/DummyDatacleaner_SpacyMorphTagVectorizer
/DummyDatacleaner_StyloMetrix
/DummyDatacleaner_HerbertFrozen
/DummyDatacleaner_RoBERTaFT
/DummyDatacleaner_RoBERTaFrozen
/ProperNamesMasker_TfidfVectorizer1000
/ProperNamesMasker_TfidfVectorizer5000
/ProperNamesMasker_BigramMorphTagVectorizer100
/ProperNamesMasker_BigramMorphTagVectorizer370
/ProperNamesMasker_CountVectorizer1000
/ProperNamesMasker_CountVectorizer5000
/ProperNamesMasker_DPEBPVectorizer100Avg
/ProperNamesMasker_FullMorphTagVectorizer
/ProperNamesMasker_HerbertFT
/ProperNamesMasker_SpacyMorphTagVectorizer
/ProperNamesMasker_StyloMetrix
/ProperNamesMasker_HerbertFrozen
/ProperNamesMasker_RoBERTaFT
/ProperNamesMasker_RoBERTaFrozen
/DummyDatacleaner_CountTfidf1000
/DummyDatacleaner_FrozenGremBERT
/DummyDatacleaner_GremBERT
/DummyDatacleaner_FrozenPanGremBERT
/DummyDatacleaner_PanGremBERT
/ProperNamesMasker_CountTfidf1000
/ProperNamesMasker_FrozenGremBERT
/ProperNamesMasker_GremBERT
/ProperNamesMasker_FrozenPanGremBERT
/ProperNamesMasker_PanGremBERT
